@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,400;1,700;1,800&display=swap");

:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --tertiary-color: #2980b9;
  --quaternary-color: #16a085;
  --text-dark: #2c3e50;
  --text-light: #ecf0f1;
  --background-color: #ffffff;

  --primary-color-h: 200;
  --secondary-color-h: 120;
  --tertiary-color-h: 210;
  --quaternary-color-h: 160;

  --primary-light: hsl(var(--primary-color-h), 70%, 80%);
  --primary-dark: hsl(var(--primary-color-h), 70%, 40%);
  --secondary-light: hsl(var(--secondary-color-h), 70%, 80%);
  --secondary-dark: hsl(var(--secondary-color-h), 70%, 40%);
  --tertiary-light: hsl(var(--tertiary-color-h), 70%, 40%);
  --tertiary-background: hsl(var(--tertiary-color-h), 80%, 95%);
  --tertiary-dark: hsl(var(--tertiary-color-h), 70%, 40%);
  --quaternary-light: hsl(var(--quaternary-color-h), 70%, 80%);
  --quaternary-dark: hsl(var(--quaternary-color-h), 70%, 40%);
}

* {
  margin: 0;
  padding: 0;

  list-style: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--tertiary-background);
}

input {
  border: none;
  outline: none;
}

#header {
  display: flex;
  justify-content: end;
  align-items: center;
  box-sizing: content-box;
  padding: 10px;

  background-color: var(--primary-color);
}

#nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav-item {
  color: var(--text-light);
  padding: 10px 20px;
  margin: 10px 5px;

  font-weight: bold;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  transition: 0.5s;
  border-radius: 5px;
  font-size: 1.2em;
}

.nav-item:hover {
  background-color: var(--tertiary-color);
}

.nav-item.emphasis {
  background-color: var(--tertiary-color);
  filter: saturate(150%);
}

.nav-item.emphasis:hover {
  filter: saturate(250%);
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  background-color: var(--primary-dark);
  height: 150px;
  color: white;
}

.contains_social_media {
  display: flex;
  align-items: center;
  gap: 30px;

  margin: 5px;
  width: 200px;
}

.contains_social_media a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.contains_social_media .social_media:hover {
  filter: none;
  scale: 1.1;
}

.social_media {
  filter: grayscale(100%) brightness(50%);
  transition: all 0.5s ease;
}
