#header {
  display: flex;
  justify-content: end;
  align-items: center;
  box-sizing: content-box;
  padding: 10px;

  background-color: var(--primary-color);
}

#nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav-item {
  color: var(--text-light);
  padding: 10px 20px;
  margin: 10px 5px;

  font-weight: bold;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;

  transition: 0.5s;
  border-radius: 5px;
  font-size: 1.2em;
}

.nav-item:hover {
  background-color: var(--tertiary-color);
}

.nav-item.emphasis {
  background-color: var(--tertiary-color);
  filter: saturate(150%);
}

.nav-item.emphasis:hover {
  filter: saturate(250%);
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  flex-grow: 1;
}

.text {
  margin: 50px;
  max-width: 700px;

  text-align: center;
  font-size: 1.7em;
  font-weight: bold;
}

.title {
  margin-bottom: 20px;
}

.tech_list {
  width: 400px;
  padding: 20px;
  margin-bottom: 10px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 3px 3px 8px #0000007f;
}

.tech_list h3 {
  color: var(--text-dark);
  font-weight: 800;
  margin-bottom: 20px;
}

.tech_list ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tech_item {
  color: var(--text-light);
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 7px;
  transition: all 0.5s ease;
  box-shadow: 2px 2px 7px #000000aa;
}

.tech_item:hover {
  scale: 1.01;
}

.tech_icon {
  margin: 5px 25px 5px 5px;
  width: 48px;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
  background-color: var(--primary-dark);
  height: 150px;
  color: white;
}

.contains_social_media {
  display: flex;
  align-items: center;
  gap: 30px;

  margin: 5px;
  width: 200px;
}

.contains_social_media a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
}

.contains_social_media .social_media:hover {
  filter: none;
  scale: 1.1;
}

.social_media {
  filter: grayscale(100%) brightness(50%);
  transition: all 0.5s ease;
}
